<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

  <!-- Main Content -->
<main class="container text-center text-white py-5  ">
    <h1 class="display-4 fw-bold py-5">Atualize categoiras & edite artigos</h1>
    <!-- Formulário de Categoria -->
    <section class="mt-5">
        <h3 class="text-white mb-4">Atualizar Categoria</h3>
        <form id="formCategoria" class="row g-3 justify-content-center" method="POST" action="/categories/update">
            <div class="col-md-6">
                <!-- <label for="categoryName" class="form-label text-white">Nome da Categoria</label> -->
                <input value="<%= category.title %>" type="text" class="form-control" name="title" id="categoryName" required>
            </div>
           
            <div class="col-md-12 text-center">
                <input type="hidden" name="id" value="<%= category.id %>">
                <button type="submit" class="btn btn-warning btn-lg"> <i class="fas fa-sync-alt"></i></button>
            </div>
        </form>
    </section>

</main>

<%- include ('../../partials/footer.ejs') %>